<h1>FAQ</h1>
<hr>
<%= link_to "Create question", new_question_path(@question), :class => 'btn btn-primary' %>
<% @questions.each do |question| %>
  <div class="card card-body bg-light">
    <p><%= question.title %></p>
    <%= link_to "Read More", question_path(question), :class => 'btn btn-default'%>
  </div>
<% end %>

